dog-main {

}
  
.dog-title-contents {

}

.dog-main-title {
  background-color: rgb(227, 241, 247);

}

.photo-contents h2.title {
  background-color: rgb(255, 255, 255);

  margin-bottom: 5%;
  color: #6cb4e4;
  text-align: center;
  padding: 0.25em;
  border-top: solid 2px #6cb4e4;
  border-bottom: solid 2px #6cb4e4;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

.dog-sub-title {
  background-color: rgb(227, 241, 247);
  color: sandybrown;
  font-size: 2.2vh;
  padding: 2vh 0 2vh 0;
  display: inline-block;
}

a.dog-sub-title:hover {
  color: rgb(255, 81, 0);
}

p.dog-sub-title {
  color: black;
  font-size: 3vh;
  font-weight: bold;
  display: block; 
  border-bottom: double 5px #FFC778;
}

.dog-main-image {
  width: 100%;
  height: auto;
}

.photo-contents {
  background-color: rgb(255, 240, 226);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.photo-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.photo-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #4246f8;
  font-weight: bold;
}

.dog-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dog-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.dog-img-content {
  position: relative;
}

.dog-img {
  width: 40vh;
  height: 40vh;
  border: 1px #1d1c1c solid;
  display: flex;
  margin: 3vh 0 2px;
}

.dog-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
  border: 1px #000000 solid;

}

.dog-name {
  font-size: 2.5vh;
}

.dog-age {
  font-size: 2vh;
  display: flex;
  justify-content: space-between;
  padding: 0.3vh 4.2vh;
  letter-spacing: 4px;
}


.nice-btn {
  display: flex;
  align-items: center;
}

.nice-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.nice-count {
  font-size: 2vh;
}

p.copyright {
  padding-top: 30%;
}